﻿@model Device
@{ ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutBeonDashboard.cshtml"; }

@{
    IEnumerable<EnvironmentPayload> environmentOrderByAsc = Model.EnvironmentPayloads.OrderBy(a => a.TimestampEvent);
    EnvironmentPayload environment = environmentOrderByAsc.Last();
    IEnumerable<EnvironmentPayload> env72 = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddHours(-72));
    IEnumerable<EnvironmentPayload> env24 = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddHours(-24));
    IEnumerable<EnvironmentPayload> env72alert = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddMonths(-72));

    double Shock = 0;
    int NumberOfShock = environmentOrderByAsc.Count(a => a.EventType == "3");
    foreach (EnvironmentPayload env in environmentOrderByAsc)
    {
        if (env.Smax > Shock)
        {
            Shock = env.Smax;
        }
    } }

@{
    bool alert = false;
    <script>
        let alertExist = false;
    </script>
    foreach (var env in env72alert)
    {
        if (env.EventType == "1" || env.EventType == "3")
        {
            alert = true;
            <script>
                alertExist = true;
            </script>
            break;
        }
    }
}
<aside class=" p-0  flex-shrink-1" style="  background-color: #201063">
    <nav class="navbar navbar-expand navbar-dark flex-lg-column flex-row align-items-start p-0">
        <div class="collapse navbar-collapse row m-auto">

            <ul class="flex-lg-column flex-row navbar-nav justify-content-between ">
                <li class="list-group-item  rounded-0" style="  background-color: #201063;">
                    <a class="nav-link pl-0 text-nowrap" style="color: white; font-weight:bold;" asp-controller="Home" asp-action="Index"><img src="~/Icons/home.svg" alt="" /> <span class="d-none d-lg-inline m-auto"> Home</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold;" asp-controller="Beon" asp-action="listDevices"><img src="~/Icons/eye.svg" alt="" /> <span class="d-none d-lg-inline">Tracker list</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold; " asp-controller="Beon" asp-action="Overview"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
                </li>
                <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
                    <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><img src="~/Icons/dasboardplain.svg" alt="" /> <span class="d-none d-lg-inline"> Dashboard</span></a>
                    <div class="collapse  " id="collapseExample">
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/maps-and-location.svg" alt="" /> <span class="d-none d-lg-inline"> Location</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/heat.svg" alt="" /><span class="d-none d-lg-inline"> Temperature</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<main role="main" class="col p-0 d-flex flex-column">
    <header class="border p-2 d-flex justify-content-between">
        <div class="d-none d-lg-block">
            <h3 class="text-left  "><img src="~/Icons/dashboardPict.svg" alt="" /> Dashboard</h3>
            <p class="text-left  m-0">@DateTime.Now</p>
        </div>
        <h2 class="text-center m-auto">
            <img src="~/Icons/aim.svg" alt="" /> Tracker @Model.DeviceId
        </h2>
        <p class="d-none d-lg-block">&ensp; </p>
    </header>

    <section class="d-flex flex-column-reverse flex-lg-row">
        <div class="container-fluid p-0 ">
            <article class="card-deck p-0  m-0 d-flex flex-column flex-lg-row justify-content-between">
                <div class="card m-3">
                    <div class="card-header pb-0" style="color: #201063; ">
                        <h5 class="card-title" style="font-weight: bold;"><img src="~/Icons/back-in-timeBlueBeon.svg" /> Last contact</h5>
                    </div>
                    <div class="card-body ">
                        <p class="card-text">@environment.TimestampEvent</p>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-header pb-0" style=" color: #201063;">
                        <h5 class="card-title" style="font-weight: bold;"><img src="~/Icons/warningBlueBeon.svg" alt="" /> Number of shocks</h5>
                    </div>
                    <div class="card-body ">
                        <p class="card-text ">- total shocks: @NumberOfShock  </p>
                        <p class="card-text ">- from last 72h: @environment.TotalShock </p>
                        <p class="card-text ">- since last contact: @environment.Cptshockovlastperiod </p>
                        <p class="card-text">- Max shock: @Shock g</p>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-header pb-0" style=" color: #201063;">
                        <h5 class="card-title" style="font-weight: bold; "><a asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId" style="color: #201063;"><img src="~/Icons/heatBlueBeon.svg" alt="" /> Temperature</a></h5>
                    </div>
                    <div class="card-body text-left">
                        <h5 class="card-title ">From last 72h: </h5>
                        <p class="card-text">-Max:  @env72.OrderByDescending(a => a.Tmax).First().Tmax °C</p>
                        <p class="card-text">-Min:  @env72.OrderByDescending(a => a.Tmax).First().Tmin °C</p>
                        <p class="card-text">-Mean:  @env72.OrderByDescending(a => a.Tmax).First().Tmean °C</p>
                    </div>
                </div>

                <div class="card m-3">
                    <div class="card-header pb-0 mb-0" style=" color: #201063;">
                        <h5 class="card-title " style="font-weight: bold;"><img src="~/Icons/batteryBlueBeon.svg" alt="" /> Battery level</h5>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title " id="batteryTitle"> @environment.Batterylvl</h5>
                        <div class="batteryContainer justify-content-center">
                            <div class="batteryOuter "><div class="batteryLevel" id="batteryLevel"></div></div>
                            <div class="batteryBump"></div>
                        </div>
                    </div>
                </div>
            </article>

            <article class=" p-3 p-lg-0 m-auto d-flex flex-column flex-lg-row ">
                <div class="card m-auto m-lg-3 col-12 col-lg-5 p-0 " style="height:auto">
                    <div class="card-header pb-0" style=" color: #201063;">
                        <h5 class="card-title " style="font-weight: bold;"><a asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId" style="color: #201063;"><img src="~/Icons/mapBlueBeon.svg" alt="" /> Location</a></h5>
                    </div>
                    <div class="card-body">
                        <div id="map"></div>
                    </div>
                </div>

                <div class="col ml-lg-3 mr-lg-3 p-0" style="height:auto">
                    <div class="card  mt-3 mb-3 col-12 p-0 ">
                        <div class="card-header pb-0" style=" color: #201063;">
                            <h5 class="card-title" style="font-weight: bold; "><a asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId" style="color: #201063;"><img src="~/Icons/heatBlueBeon.svg" alt="" /> Temperature</a></h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row justify-content-between ">
                                <div class="text-center m-1">
                                    <button type="button" id="sortButton24" class="btn btn-success" onclick="UpdateChart24()">24h</button>
                                    <button type="button" id="sortButton72" class="btn btn-dark" onclick="UpdateChart72()">72h</button>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSortByDate" aria-expanded="false" aria-controls="collapseSortByDate">
                                        Between date
                                    </button>
                                </div>

                                <div class="collapse" id="collapseSortByDate">
                                    <div class="card card-body">
                                        <div class="text-center d-flex flex-column flex-lg-row">
                                            <div class="border m-1 p-1">
                                                <p>Begin date:</p>
                                                <label class="beginDate">
                                                    <input type="date" id="beginDate" name="beginDate" value="" />
                                                    <input type="time" id="beginTime" name="beginTime" value="" />
                                                </label>
                                            </div>
                                            <div class="border m-1 p-1">
                                                <p>End date:</p>
                                                <label class="endDate">
                                                    <input type="date" name="endDate" id="endDate" value="">
                                                    <input type="time" id="endTime" name="endTime" value="" />
                                                </label>
                                            </div>
                                        </div>
                                        <button type="button" id="bouton" onclick="UpdateChartBetweenDate()">send</button>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="height:auto">
                                <canvas id="tempsChart" class=" col-12" style="height:300px; "></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <aside class="d-flex flex-column flex-lg-row-reverse m-3 m-lg-0 mt-lg-3 mb-lg-3 p-0  ">
            <div>
                <div class="h-100 p-0 mr-2 text-center">
                    <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow(alertExist)">
                        <span class="position-relative d-none d-lg-flex" style="top:50%;">
                            <img src="~/Icons/left-arrow.svg" alt="" id="arrowLeft" /><img src="~/Icons/right-arrow.svg" alt="" class="d-none" id="arrowRight" />&nbsp
                            @{ if (alert)
                                { <img src="~/Icons/notificationBell.svg" alt="" />}
                                else
                                {<img src="~/Icons/notification.svg" alt="" />} }
                        </span>
                        <span class="position-relative d-flex flex-column-reverse d-lg-none " style="top:50%;">
                            <img src="~/Icons/down-arrow.svg" alt="" id="arrowDown" /><img src="~/Icons/up-arrow.svg" alt="" class="d-none" id="arrowUp" />&nbsp
                            @{ if (alert)
                                { <img src="~/Icons/notificationBell.svg" alt="" />}
                                else
                                {<img src="~/Icons/notification.svg" alt="" />} }
                        </span>
                    </a>
                </div>
            </div>
            @{ if (alert)
            {
                <div class="row" style="">
                    <div class="col text-center">
                        <div class="collapse" id="alertCollapse">
                            <div class="card card-body" style="height: 80vh;  overflow-y: scroll;">
                                <div class="card-body">
                                    @{ foreach (var env in env72alert)
                                        {

                                            if (env.EventType == "1")
                                            {
                                                <div>
                                                    <p class="alertcolorred" style="width:max-content">
                                                        <button class="btn border-0 alertcolorred mw-100"
                                                                onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Temperature Alert', '@env.TimestampEventToString', '@env.Tmax', ' °')">
                                                            <img src="~/Icons/heatBlueBeon.svg" alt="" />
                                                            Temperature Alert  <br />  @env.TimestampEvent.ToString("dd/MM/yy H:mm")
                                                        </button>
                                                    </p>
                                                </div> }                                            
                                            else if (env.EventType == "3")
                                            {
                                                <div>
                                                    <p class="alertcolorblue " style="width:max-content">
                                                        <button class="btn border-0 alertcolorblue mw-100"
                                                                onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Shock Alert', '@env.TimestampEventToString', '@env.Smax', ' g')">
                                                            <img src="~/Icons/warningBlueBeon.svg" alt="">
                                                            Shock Alert    <br />   @env.TimestampEvent.ToString("dd/MM/yy H:mm")
                                                        </button>
                                                    </p>
                                                </div> }
                                            else
                                            {
                                                continue;
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </aside>
    </section>
</main>

<script type="text/javascript">
    var LastLatitude = '@environment.ComputedLatitudeFormatted';
    var LastLongitude = '@environment.ComputedLongitudeFormatted';
    let batteryLvl = @Convert.ToInt32(environment.Batterylvl);

    function UpdateChartBetweenDate() {
        var dateBegin = new Date(document.getElementById("beginDate").value);
        var timeBegin = document.getElementById("beginTime").value;
        var beginDate = new Date(Date.parse(dateBegin.getFullYear() + "," + (dateBegin.getMonth() + 1) + "," + dateBegin.getDate() + "," + timeBegin));
        var dateEnd = new Date(document.getElementById("endDate").value);
        var timeEnd = document.getElementById("endTime").value;
        var endDate = new Date(Date.parse(dateEnd.getFullYear() + "," + (dateEnd.getMonth() + 1) + "," + dateEnd.getDate() + "," + timeEnd));
        let maxSortBetween = new Array();
        let minSortBetween = new Array();
        let meanSortBetween = new Array();
        let myLabelBetween = new Array();

        @foreach(EnvironmentPayload envi in environmentOrderByAsc)
        {
             <Text>
        var dateToCompare = new Date('@envi.TimestampEvent.ToString("yyyy-MM-ddTHH:mm:ss")');
        if (dateToCompare >= beginDate && endDate>=dateToCompare)
        {
            maxSortBetween.push(@envi.Tmax);
            minSortBetween.push(@envi.Tmin);
            meanSortBetween.push(@envi.Tmean);
             myLabelBetween.push("@envi.TimestampEvent.Day/@envi.TimestampEvent.Month/@envi.TimestampEvent.Year @envi.TimestampEvent.Hour:@envi.TimestampEvent.Minute ");
        }
           </Text>
        }
        myLineChart.data.datasets[0].data = maxSortBetween;
        myLineChart.data.datasets[1].data = minSortBetween;
        myLineChart.data.datasets[2].data = meanSortBetween;
        myLineChart.data.labels = myLabelBetween;
        myLineChart.update();
        if (endDate < beginDate)
        {
            alert("Error! End date must be after start date . \n\nNo values..");
        }
        else
        {
            alert("Your request:  \n\nbegin date:" + beginDate + " \n \nend date:  " + endDate + ". \n\n  " + maxSortBetween.length + " VALUES\n");
        }
    }

        let min72 = new Array();
        let max72 = new Array();
        let mean72 = new Array();
        let myLabel72 = new Array();
        let min24 = new Array();
        let max24 = new Array();
        let mean24 = new Array();
        let myLabel24 = new Array();
        let i = 1;
        let j = 1;
        let maxx24;
        let minx24;
        let meanx24;
        let maxx72;
        let minx72;
    let meanx72;


    @{

            IEnumerable<EnvironmentPayload> environmentSortBetweenDate = environmentOrderByAsc;

        <text>
            maxx24 = @env24.OrderByDescending(a => a.Tmax).First().Tmax;
            minx24 = @env24.OrderByDescending(a => a.Tmin).First().Tmin;
            meanx24 = @env24.OrderByDescending(a => a.Tmean).First().Tmean;
            maxx72 = @env72.OrderByDescending(a => a.Tmax).First().Tmax;
            minx72 = @env72.OrderByDescending(a => a.Tmin).First().Tmin;
            meanx72 = @env72.OrderByDescending(a => a.Tmean).First().Tmean;
        </text>
            foreach (EnvironmentPayload env in env72)
            {

                 <text>
                min72.push(@env.Tmin)
                max72.push(@env.Tmax)
    mean72.push(@env.Tmean);
    myLabel72.push("@env.TimestampEvent.Day/@env.TimestampEvent.Month/@env.TimestampEvent.Year @env.TimestampEvent.Hour:@env.TimestampEvent.Minute ");
                i = i + 1;
                </text>
            }
            foreach (EnvironmentPayload env in env24.OrderBy(e=>e.TimestampEvent))
            {
                <text>
                min24.push(@env.Tmin)
                max24.push(@env.Tmax)
                mean24.push(@env.Tmean);
                myLabel24.push("@env.TimestampEvent.Day/@env.TimestampEvent.Month/@env.TimestampEvent.Year @env.TimestampEvent.Hour:@env.TimestampEvent.Minute ");
                j = j + 1;
                </text>
             }
        }
</script>
<script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>
<script src="~/js/scriptChartTemp.js"></script>
<script src="~/js/scriptBattery.js"></script>
<script src="~/js/scriptCarte.js"></script>
