﻿@model Device
@{
    ViewData["Title"] = "Temp";
    Layout = "~/Views/Shared/_LayoutBeonDashboard.cshtml";
    IEnumerable<EnvironmentPayload> environmentOrderByAsc = Model.EnvironmentPayloads.OrderBy(a => a.TimestampEvent);
    EnvironmentPayload environment = environmentOrderByAsc.Last();
    IEnumerable<EnvironmentPayload> env72 = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddHours(-72));
    IEnumerable<EnvironmentPayload> env24 = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddHours(-24));
    IEnumerable<EnvironmentPayload> env72alert = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddMonths(-72));

}

@{
    bool alert = false;
    <script>
        let alertExist = false;
    </script>
    foreach (var env in env72alert)
    {
        if (env.EventType == "1" || env.EventType == "3")
        {
            alert = true;
            <script>
                alertExist = true;
            </script>
            break;
        }
    }
}
<aside class=" p-0  flex-shrink-1" style="  background-color: #201063">
    <nav class="navbar navbar-expand navbar-dark flex-lg-column flex-row align-items-start p-0">
        <div class="collapse navbar-collapse row m-auto">

            <ul class="flex-lg-column flex-row navbar-nav justify-content-between ">
                <li class="list-group-item  rounded-0" style="  background-color: #201063;">
                    <a class="nav-link pl-0 text-nowrap" style="color: white; font-weight:bold;" asp-controller="Home" asp-action="Index"><img src="~/Icons/home.svg" alt="" /><span class="d-none d-lg-inline"> Home</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold;" asp-controller="Beon" asp-action="listDevices"><img src="~/Icons/eye.svg" alt="" /> <span class="d-none d-lg-inline">Tracker list</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold; " asp-controller="Beon" asp-action="Overview"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
                </li>
                <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
                    <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><img src="~/Icons/dasboardplain.svg" alt="" /> <span class="d-none d-lg-inline"> Dashboard</span></a>
                    <div class="collapse  " id="collapseExample">
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/maps-and-location.svg" alt="" /><span class="d-none d-lg-inline"> Location</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/heat.svg" alt="" /><span class="d-none d-lg-inline"> Temperature</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<main role="main" class="col p-0 d-flex flex-column" style="height:100%">
    <header class="border p-2 d-flex justify-content-between">
        <h2 class="text-center m-auto">
            <a class="" style="color:inherit" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/aim.svg" alt="" />Tracker  @Model.DeviceId</a>
        </h2>
        <p class="d-none d-lg-block">&ensp; </p>
    </header>

    <section class="d-flex flex-column-reverse flex-lg-row">
        <div class="container-fluid pl-0">
            <nav class="navbar navbar-dark bg-light justify-content-center">
                <div class="d-flex flex-column flex-lg-row justify-content-between ">
                    <div class="text-center m-1">
                        <button type="button" id="sortButton24" class="btn btn-success" onclick="UpdateChart24()">24h</button>
                        <button type="button" id="sortButton72" class="btn btn-dark" onclick="UpdateChart72()">72h</button>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSortByDate" aria-expanded="false" aria-controls="collapseSortByDate">
                            Between date
                        </button>
                    </div>

                    <div class="collapse" id="collapseSortByDate">
                        <div class="card card-body">
                            <div class="text-center d-flex flex-column flex-lg-row">
                                <div class="border m-1 p-1">
                                    <p>Begin date:</p>
                                    <label class="beginDate">
                                        <input type="date" id="beginDate" name="beginDate" value="" />
                                        <input type="time" id="beginTime" name="beginTime" value="" />
                                    </label>
                                </div>
                                <div class="border m-1 p-1">
                                    <p>End date:</p>
                                    <label class="endDate">
                                        <input type="date" name="endDate" id="endDate" value="">
                                        <input type="time" id="endTime" name="endTime" value="" />
                                    </label>
                                </div>
                            </div>
                            <button type="button" id="bouton" onclick="UpdateChartBetweenDate()">send</button>
                        </div>
                    </div>
                </div>
            </nav>
            <article class="container-fluid d-flex flex-column-reverse flex-lg-row">
                <div class="card m-3 p-0 col-11 col-lg-3">
                    <div class="card-header pb-0" style=" color: #201063;">
                        <h5 class="card-title " style="font-weight: bold;"><img src="~/Icons/heatBlueBeon.svg" alt="" /> Details:</h5>
                    </div>
                    <div class="card-body text-left">
                        <h5 class="card-title "><span id="dateSort">Last 24h:</span> </h5>
                        <p class="card-text">-Max: <span id="tMax"> @env24.OrderByDescending(a => a.Tmax).First().Tmax</span> °C</p>
                        <p class="card-text">-Min:  <span id="tMin">@env24.OrderByDescending(a => a.Tmax).First().Tmin</span> °C</p>
                        <p class="card-text">-Mean: <span id="tMean"> @env24.OrderByDescending(a => a.Tmax).First().Tmean</span> °C</p>
                        <p class="card-text">-Values found: <span id="valuesFound">@env24.Count()</span></p>
                    </div>
                </div>
                <div class="card  m-3 p-0 col-11  col-lg-8  " style="height:auto">
                    <div class="card-header pb-0" style=" color: #201063;">
                        <h5 class="card-title" style="font-weight: bold;"><img src="~/Icons/heatBlueBeon.svg" alt="" /> Temperature</h5>
                    </div>
                    <div class="card-body">
                        <div class="" style="height:auto">
                            <canvas id="tempsChart" class=" col-12  chartTempClass" style="height: 400px;"></canvas>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <aside class="d-flex flex-column flex-lg-row-reverse m-3 m-lg-0 mt-lg-3 mb-lg-3 p-0  ">
            <div>
                <div class="h-100 p-0 mr-2 text-center">
                    <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow(alertExist)">
                        <span class="position-relative d-none d-lg-flex" style="top:50%;">
                            <img src="~/Icons/left-arrow.svg" alt="" id="arrowLeft" /><img src="~/Icons/right-arrow.svg" alt="" class="d-none" id="arrowRight" />&nbsp
                            @{ if (alert)
                                { <img src="~/Icons/notificationBell.svg" alt="" />}
                                else
                                {<img src="~/Icons/notification.svg" alt="" />} }
                        </span>
                        <span class="position-relative d-flex flex-column-reverse d-lg-none " style="top:50%;">
                            <img src="~/Icons/down-arrow.svg" alt="" id="arrowDown" /><img src="~/Icons/up-arrow.svg" alt="" class="d-none" id="arrowUp" />&nbsp
                            @{ if (alert)
                                { <img src="~/Icons/notificationBell.svg" alt="" />}
                                else
                                {<img src="~/Icons/notification.svg" alt="" />} }
                        </span>
                    </a>
                </div>
            </div>
            @{ if (alert)
                {
                    <div class="row" style="">
                        <div class="col text-center">
                            <div class="collapse" id="alertCollapse">
                                <div class="card card-body" style="height: 80vh;  overflow-y: scroll;">
                                    <div class="card-body">
                                        @{ foreach (var env in env72alert)
                                            {

                                                if (env.EventType == "1")
                                                {
                                                    <div>
                                                        <p class="alertcolorred" style="width:max-content">
                                                            <button class="btn border-0 alertcolorred mw-100"
                                                                    onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Temperature Alert', '@env.TimestampEventToString', '@env.Tmax', ' °')">
                                                                <img src="~/Icons/heatBlueBeon.svg" alt="" />
                                                                Temperature Alert  <br />  @env.TimestampEvent"
                                                            </button>
                                                        </p>
                                                    </div> }
                                                else if (env.EventType == "3")
                                                {
                                                    <div>
                                                        <p class="alertcolorblue " style="width:max-content">
                                                            <button class="btn border-0 alertcolorblue mw-100"
                                                                    onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Shock Alert', '@env.TimestampEventToString', '@env.Smax', ' g')">
                                                                <img src="~/Icons/warningBlueBeon.svg" alt="">
                                                                Shock Alert    <br />   @env.TimestampEvent
                                                            </button>
                                                        </p>
                                                    </div> }
                                                else
                                                {
                                                    continue;
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </aside>
    </section>
</main>
<script type="text/javascript">
  let batteryLvl = @Convert.ToInt32(environment.Batterylvl);
    let tMaxId = document.getElementById('tMax');

    function UpdateChartBetweenDate() {
        var dateBegin = new Date(document.getElementById("beginDate").value);
        var timeBegin = document.getElementById("beginTime").value;
        var beginDate = new Date(Date.parse(dateBegin.getFullYear() + "," + (dateBegin.getMonth() + 1) + "," + dateBegin.getDate() + "," + timeBegin));
        var dateEnd = new Date(document.getElementById("endDate").value);
        var timeEnd = document.getElementById("endTime").value;
        var endDate = new Date(Date.parse(dateEnd.getFullYear() + "," + (dateEnd.getMonth() + 1) + "," + dateEnd.getDate() + "," + timeEnd));
        let maxSortBetween = new Array();
        let minSortBetween = new Array();
        let meanSortBetween = new Array();
        let myLabelBetween = new Array();
        @foreach(EnvironmentPayload envi in environmentOrderByAsc)
        {
             <Text>
        var dateToCompare = new Date('@envi.TimestampEvent.ToString("yyyy-MM-ddTHH:mm:ss")');
        if (dateToCompare >= beginDate && endDate>=dateToCompare)
        {
            maxSortBetween.push(@envi.Tmax);
            minSortBetween.push(@envi.Tmin);
            meanSortBetween.push(@envi.Tmean);
             myLabelBetween.push("@envi.TimestampEvent.Day/@envi.TimestampEvent.Month/@envi.TimestampEvent.Year @envi.TimestampEvent.Hour:@envi.TimestampEvent.Minute ");
        }
           </Text>
        }


        myLineChart.data.datasets[0].data = maxSortBetween;
        myLineChart.data.datasets[1].data = minSortBetween;
        myLineChart.data.datasets[2].data = meanSortBetween;
        myLineChart.data.labels = myLabelBetween;
        myLineChart.update();
        if (endDate < beginDate) {
            alert("Error! End date must be after start date . \n\nNo values..");
        }
        else {
            var bDate = beginDate.getDate() + "/" + (beginDate.getMonth() + 1) + "/" + beginDate.getFullYear() + " " + timeBegin;
            var eDate = endDate.getDate() + "/" + (endDate.getMonth() + 1) + "/" + endDate.getFullYear() + " " + timeEnd;
            alert("Your request:  \n\nbegin date: " + bDate + "\n\nend date: " + eDate + ". \n\n  " + maxSortBetween.length + " VALUES Found\n");
            document.getElementById("tMax").textContent = Math.max(...maxSortBetween);
            document.getElementById("tMin").textContent = Math.min(...minSortBetween);
            var sumMean = meanSortBetween.reduce(function (a, b) {
                return a + b;
            }, 0);
            document.getElementById("tMean").textContent = Math.round(sumMean / meanSortBetween.length);
            document.getElementById("dateSort").textContent = "between  : " + bDate + " and " + eDate;
            document.getElementById("valuesFound").textContent = myLabelBetween.length;
            isActive24 = false;
            isActive72 = false;
        }
    }

        let min72 = new Array();
        let max72 = new Array();
        let mean72 = new Array();
        let myLabel72 = new Array();
        let min24 = new Array();
        let max24 = new Array();
        let mean24 = new Array();
        let myLabel24 = new Array();
        let i = 1;
        let j = 1;
        let maxx24;
        let minx24;
        let meanx24;
        let maxx72;
        let minx72;
        let meanx72;


    @{


        <text>
            maxx24 = @env24.OrderByDescending(a => a.Tmax).First().Tmax;
            minx24 = @env24.OrderByDescending(a => a.Tmin).First().Tmin;
            meanx24 = @env24.OrderByDescending(a => a.Tmean).First().Tmean;
            maxx72 = @env72.OrderByDescending(a => a.Tmax).First().Tmax;
            minx72 = @env72.OrderByDescending(a => a.Tmin).First().Tmin;
            meanx72 = @env72.OrderByDescending(a => a.Tmean).First().Tmean;
        </text>
            foreach (EnvironmentPayload env in env72)
            {

                 <text>
                min72.push(@env.Tmin)
                max72.push(@env.Tmax)
                mean72.push(@env.Tmean);
                myLabel72.push("@env.TimestampEvent.Day/@env.TimestampEvent.Month/@env.TimestampEvent.Year @env.TimestampEvent.Hour:@env.TimestampEvent.Minute ");
                i = i + 1;
                </text>
            }
            foreach (EnvironmentPayload env in env24.OrderBy(e=>e.TimestampEvent))
            {
                <text>
                min24.push(@env.Tmin)
                max24.push(@env.Tmax)
                mean24.push(@env.Tmean);
                myLabel24.push("@env.TimestampEvent.Day/@env.TimestampEvent.Month/@env.TimestampEvent.Year @env.TimestampEvent.Hour:@env.TimestampEvent.Minute ");
                j = j + 1;
                </text>
             }
        }

 

</script>
<script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>
<script src="~/js/scriptPageTemp.js"></script>


